
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h3 {
  margin-bottom: 1rem;
  font-weight: normal;
}

button {
  cursor: pointer;
  display: inline-block;
  background: #bfb15d;
  color: black;
  font-size: 18px;
  border: 0;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(0.98);
}

input {
  background: #333;
  color: white;
  font-size: 18px;
  border: 0;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.bar {
    border-radius:5px;
    padding: 20px;
    margin: 20px;
    background-color: #abe1fd;
  justify-content: center;
    align-items:left;
}

.dbwrapper {
    background-color: #ed6f00;
    margin-top: 20px;
    padding: 5px;
}

ul{
    list-style-type: none;
}

